<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlqBCZ435dZzmPmNoX2QLAoAVG9QK_dC0</string>
	<key>GCM_SENDER_ID</key>
	<string>59276231533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartsubscriptions</string>
	<key>PROJECT_ID</key>
	<string>smartsubscriptions-baa50</string>
	<key>STORAGE_BUCKET</key>
	<string>smartsubscriptions-baa50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59276231533:ios:a0c9a64cc0ec33844a5064</string>
</dict>
</plist>